#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# manually created plans
tfplan
plantf
.plan

# secrets
.credentials
.pem
.ppk
.out
.id
id_rsa

